@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

:root {
  --light-color: #ffebe6;
  --light-hover: #ffc0b0;
  --color-main: #ff3400;
  --color-point: #bf2700;
  --main-hover: #591200;

  --color-bg-lightest: #ffffff;
  --color-font-on-dark: #fafafa;
  --color-bg-content-1: #f7f7f7;
  --color-bg-content-2: #e8e8e8;
  --color-font-1: #d9d9d9;
  --color-font-2: #bcbcbc;
  --color-font-3: #9e9e9e;
  --color-font-4: #818181;
  --color-font-5: #4f4f4f;
  --color-font-6: #3b3b3b;
  --color-darkest: #141414;

  --color-alert-bg: #ffebeb;
  --color-alert: #fc9595;
  --color-alert-font: #d83232;
}

@theme {
  --color-background: var(--color-bg-lightest);
  --color-foreground: var(--color-darkest);

  /* brand color */
  --color-brand-50: var(--light-color);
  --color-brand-100: #ffe1d9;
  --color-brand-200: var(--light-hover);
  --color-brand-300: var(--color-main);
  --color-brand-400: #e62f00;
  --color-brand-500: #cc2a00;
  --color-brand-600: var(--color-point);
  --color-brand-700: #991f00;
  --color-brand-800: #731700;
  --color-brand-900: var(--main-hover);

  /* gray color */
  --color-white: var(--color-bg-lightest);
  --color-gray-10: var(--color-font-on-dark);
  --color-gray-25: var(--color-bg-content-1);
  --color-gray-50: var(--color-bg-content-2);
  --color-gray-100: var(--color-font-1);
  --color-gray-200: var(--color-font-2);
  --color-gray-300: var(--color-font-3);
  --color-gray-400: var(--color-font-4);
  --color-gray-600: var(--color-font-5);
  --color-gray-700: var(--color-font-6);
  --color-gray-950: var(--color-darkest);

  /* system color */
  --color-system-red-bg: var(--color-alert-bg);
  --color-system-red: var(--color-alert);
  --color-system-red-font: var(--color-alert-font);
}

/* 현재 다크모드 지원 안함 - 다크모드 지원 시 사용 */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--color-darkest);
  font-family: Arial, Helvetica, sans-serif;
}
