@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-main: #FF3400;
  --color-point: #BF2700;
  --light-color: #FFEBE6;
  --light-hover: #FFC0B0;
  --main-hover: #591200;

  /* 배경색 - 가장 밝은 색 */ 
  --color-bg-lightest: #FFFFFF; 
  /* 어두운 배경에서 폰트컬러 */ 
  --color-font-on-dark: #FAFAFA; 
  /* 콘텐츠 배경색 */ 
  --color-bg-content-1: #F7F7F7; 
  --color-bg-content-2: #E8E8E8; 
  /* 폰트 색상 단계별 */ 
  --color-font-1: #D9D9D9; 
  --color-font-2: #BCBCBC; 
  --color-font-3: #9E9E9E; 
  --color-font-4: #818181; 
  --color-font-5: #4F4F4F; 
  --color-font-6: #3B3B3B; 
  /* 가장 어두운 색 */ 
  --color-darkest: #141414;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.rt-SegmentedControlIndicator:before {
  background-color: var(--foreground) !important;
}

.rt-SegmentedControlItemLabelActive {
  color: var(--background) !important;
}

.rt-SelectTrigger:where(.rt-variant-surface){
  background-color: var(--color-bg-content-2) !important;
}

.rt-TextFieldRoot{
  box-shadow: inset 0 0 0 1px var(--gray-a7) !important;
}

.rt-TextFieldRoot:where(.rt-r-size-2) :where(.rt-TextFieldSlot){
  padding-left: 6px !important;
}